@using CvApp.Models.DTO.CvApp.Data.Entities;
@model List<CertificateDTO>
<section id="certificates" class="certificates section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Sertifikalar</h2>
            <p>İşte benim aldığım sertifikaların bir listesi:</p>
        </div>

        <div class="row certificates-content">
            @foreach (var certificate in Model)
            {
                <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
                    <div class="certificate-card">
                        <div class="certificate-header">
                            <h4>@certificate.CertificateName</h4>
                            <h5>Alınma Tarihi: @certificate.CertificateDate.ToString().Substring(0,10)</h5>
                        </div>

                        <div class="certificate-download">
                            <a asp-action="DownloadFile" asp-controller="Certificate" asp-route-fileName="@certificate.fileName" class="btn btn-primary">İndir</a>
                             <a class="btn btn-success" asp-action="Details" asp-route-id="@certificate.CertificateId" asp-controller="Certificate">Detaylar</a>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section>

<style>
    .certificates {
        background-color: white;
        padding: 60px 0;
    }

        .certificates .section-title {
            text-align: center;
            padding-bottom: 30px;
        }

    .certificate-card {
        border: 1px solid #e0e0e0;
        padding: 20px;
        margin-bottom: 20px;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .certificate-header h4 {
        color: #007bff;
    }

    .certificate-description p {
        font-size: 16px;
    }

    .certificate-download {
        text-align: right;
        margin-top: 10px;
    }
</style>
