
@{
    Layout = "_HomeLayout";
}
@using CvApp.Data.Entities;
@using CvApp.Models.DTO;
@{
    ViewData["Title"] = "Home Page";
}



@await Component.InvokeAsync("LanguageComponent")
@await Component.InvokeAsync("UserComponent")
@await Component.InvokeAsync("KnownProgramComponent")
@await Component.InvokeAsync("EducationComponent")
@await Component.InvokeAsync("JobInformationComponent")
@await Component.InvokeAsync("CertificateComponent")
@await Component.InvokeAsync("ServiceComponent")
@await Component.InvokeAsync("ReferanceComponent")
@await Component.InvokeAsync("FactComponent")

<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>İLETİŞİM</h2>
        </div>

        <div class="row mt-1">

            @await Component.InvokeAsync("ContactComponent")

            @await Component.InvokeAsync("MessageComponent")



        </div>

    </div>

</section>


